
@{
    ViewBag.Title = "Главная страница";
}

<h2>@ViewData["Text"]</h2>
<main class="container1">
    <h2>Список</h2>
    <ol type="A">
        @for (int i = 1; i < 5; i++)
        {
            <li>элемент @i списка</li>
        }
    </ol>
    <hr />
    <h2>Форма</h2>
    <form class="form-horizontal" role="form" method="post">
        <fieldset class="form-group">
            <select asp-items="@ViewData["Lst"] as SelectList"></select>
        </fieldset>
        <div class="form-group row" style="margin-bottom:0px">
            <div class="col-sm-10 offset-sm-2">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="checkBox1">
                    <label class="form-check-label" for="checkBox1">Чек-бокс 1</label>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10 offset-sm-2">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="checkBox2">
                    <label class="form-check-label" for="checkBox2">Чек-бокс 2</label>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-auto offset-sm-2">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="radioGroup" id="radio1" value="option1" checked>
                    <label class="form-check-label" for="radio1">Радио-1</label>
                </div>
            </div>
            <div class="col-auto">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="radioGroup" id="radio2" value="option2">
                    <label class="form-check-label" for="radio2">Радио-2</label>
                </div>
            </div>
            <div class="col-auto">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="radioGroup" id="radio3" value="option3">
                    <label class="form-check-label" for="radio3">Радио-3</label>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="login" class="col-sm-2 col-form-label">Логин:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="login" name="login" placeholder="Введите имя">
            </div>
        </div>
        <div class="form-group row">
            <label for="pass" class="col-sm-2 control-label">Пароль:</label>
            <div class="col-sm-10">
                <input type="password" id="pass" name="pass" class="form-control" placeholder="Введите пароль" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-8" style="padding:0px">
                <button type="submit" class="btn btn-info">Отправить</button>
            </div>
        </div>
    </form>
</main>

