@page "{id:int}"
@model WebApp.Areas.Admin.Pages.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Certificate</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Certificate.CertificateId" />
            <div class="form-group">
                @if (!string.IsNullOrEmpty(Model.Certificate.Image))
                {
                    <img src=~/Images/@Model.Certificate.Image
                         alt="NoSuchFile" width="150" />
                }
                else
                {
                    <h4>Файл изображения не задан</h4>
                }
                <div class="custom-file mt-3">
                    <input type="file" class="custom-file-input" asp-for="Image" id="customFile">
                    <label class="custom-file-label" for="customFile"> Выберите файл изображения</label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Certificate.CertificateName" class="control-label">Название</label>
                <input asp-for="Certificate.CertificateName" class="form-control" />
                <span asp-validation-for="Certificate.CertificateName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Certificate.Description" class="control-label">Описание</label>
                <input asp-for="Certificate.Description" class="form-control" />
                <span asp-validation-for="Certificate.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Certificate.Price" class="control-label">Цена</label>
                <input asp-for="Certificate.Price" class="form-control" />
                <span asp-validation-for="Certificate.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Certificate.CertificateGroupId" class="control-label">Категория</label>
                <select asp-for="Certificate.CertificateGroupId" class="form-control" asp-items="ViewBag.CertificateGroupId"></select>
                <span asp-validation-for="Certificate.CertificateGroupId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts{
    <script src="~/lib/bs-custom-file-input/dist/bs-custom-file-input.js"></script>
    <script>
        $(document).ready(function () {
            bsCustomFileInput.init()
        })
    </script>
}

